<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobFit-{% block title %}
        
        {% endblock title %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='user/css/head.css') }}">
        {% block css %}
        
    {% endblock css %}
</head>
<body>

    <div class="title"><a href="/"><p class="title_head">JobFit</p></a></div>


    {% block body %}


    {% endblock body %}

    {% block js %}
        
    {% endblock js %}
    
</body>
</html>