{% extends 'user/user_base.html' %}
{% block title %}
Home
{% endblock title %}

{% block css %}


{% endblock css %}


{% block body %}
<div id="main">
    <div id="left-of-doc">
        <div id="left-of-doc-text">
        <span class="left-of-doc-span">Scan Your Resume</span>
        <span class="left-of-doc-span">This site helps you into</span>
        <span class="left-of-doc-span">your resume</span>
        <span class="left-of-doc-span">to provide you the best</span>
        <span class="left-of-doc-span">sugessions on your resume</span>
        </div>
        <div id="options-data">
            <div class="inputs-div">
                <div>
                <label>Enter name from Resume: &nbsp</label>
                <input type="text" placeholder="(optinal) for better analysis" name="name" id="name">
            </div></div>
            <div class="inputs-div">
                <div>
                <label>Enter Job-Title: &nbsp</label>
                <input type="text" placeholder="To know More" name="job_title" id="job">
            </div></div>
            <a id="a" style="color:white;font-size:2vw;">click here</a>
        </div>
        
    </div>
    <div id="resume-ani">
        <div id="doc">
            <div id="doc-header">
            <div id="username-ribbon"><span>{{user_data.username}}</span></div>
            <div id="doc-upload">
                <input type="file" id="resume-file-upload">
                <label for="resume-file-upload" id="resume-upload-label">Upload Resume Here</label>
                </div>
            <div id="back-flip"><div></div></div>
            </div>
            <div id="doc-form">
                <canvas id="pdf-render-canvas"></canvas>
            </div>
    </div>
</div>

{% endblock body %}



{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
<script src="{{ url_for('static', filename='user/js/user.js') }}"></script>
{% endblock js %}